<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chat-demo</title>
</head>
<body>
    <div id="contents" style="height:500px;overflow:auto;"></div>
    <div>
        <textarea id="msg" title="msg"></textarea>
        <a href="javascript:" onclick="sendMsg()">发送</a>
    </div>
    <script type="text/javascript">
        let ws = new WebSocket("ws://127.0.0.1:8888/chat");
        ws.onmessage = function(e) {
            let contentObj = document.getElementById('contents');
            contentObj.innerHTML += ("<p>" + e.data + "</p>");
        };
        function sendMsg() {
            let msgObj = document.getElementById('msg');
            let msg = msgObj.value;
            ws.send(msg);
            msgObj.value = "";
        }
    </script>
</body>
</html>