[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = "*"
ujson = "*"
redis = "*"
fire = "*"
alembic = "*"
lxml = "*"
pymysql = "*"
looter = "*"
markdown = "*"
imgkit = "*"
rsa = "*"
python-dotenv = "*"

[dev-packages]
"fabric3" = "*"
wordcloud = "*"
pillow = "*"
pylint = "*"

[requires]
python_version = "3.6"
