[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = "*"
pyyaml = "*"
ujson = "*"
chatterbot = "*"
redis = "*"
fire = "*"
alembic = "*"
lxml = "*"
pymysql = "*"

[dev-packages]
"fabric3" = "*"
pandas = "*"
nltk = "*"
wordcloud = "*"
pillow = "*"
pyperclip = "*"
matplotlib = "*"
gensim = "*"
pylint = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
