[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = "*"
redis = "*"
pyyaml = "*"
ujson = "*"

[dev-packages]
"fabric3" = "*"
pandas = "*"
nltk = "*"
wordcloud = "*"
pillow = "*"
pyperclip = "*"
matplotlib = "*"
gensim = "*"

[requires]
python_version = "3.6"
