* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    /*color: #F3F4F5;*/
    /*background-color: #EFEFEF;*/
    background-color: #f4f5f5;
}

/*-------------
	Layout
--------------*/

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font: 400 15px/1.4 'Open Sans',sans-serif;
}
header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

/*-------------
	Header
--------------*/

header {
    height: 8vh;
    background: #fff;
    /*background: #684d92;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
    border-bottom: 1px solid #f1f1f1;
}
.header_box {
    /*max-width: 60vh;*/
    /*margin: auto;*/
    margin: 0 15vw;
    color: #71777c;
}
.header_box > ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.header_box > ul > li {
    list-style: none;
    height: 100%;
    padding: 2vh 3vw;
    font-size: 1.33rem;
}
.header_box > ul > li input {
    width: 15vw;
    font-size: .7rem;
}
.header_box > ul > li > .header_nav {
    text-decoration: none;
    color: #71777c;
}
.header_box > ul > li > .header_nav:hover {
    color: #005fff;
}
.header_box > ul > li > .head_btn {
    position: absolute;
    right: 15vw;
}
.header_box > ul > li > .head_btn > a {
    text-decoration: none;
    padding: .35rem .6rem;
    margin: 0 .5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007fff;
    border-radius: .25rem;
}
.header_box > ul > li > .head_btn > a:hover {
    background-color: #005fff;
}

/*-------------
	Content layout
--------------*/

.main {
    display: flex;
    padding-top: 8vh;
}
.left{
    width: 15vw;
    /*background: #f4f5f5;*/
    order: -1;
}
.content{
    max-width: 70vw;
    flex-grow: 1;
    background: #fff;
    margin: 3vh 0;
    /*padding: 2.5vh 2.5vw;*/
}
.right{
    width: 15vw;
    /*background: #f4f5f5;*/
}

/*-------------
	Footer
--------------*/

footer {
    height: 10vh;
    background: #fff;
}
footer {
    font-size: small;
    line-height: 1rem;
    color: #858585;
    text-align: center;
    margin-top: 1rem;
}
footer p {
    text-align: center;
    font-size: 0.8rem;
    margin: 1em 0;
}
footer a {
    text-decoration: none;
    color: #007fff;
}

/*-------------
	Posts
--------------*/

.content_box {
    padding: 2vh 3vw;
}
.post_box {
    display: flex;
    text-decoration: none;
    color: #000;
}
.post_box a {
    text-decoration: none;
    color: #000;
}
.post_list {
    flex: 1 1 auto;
    margin: 2vh 1vw;
    padding: 1vh .5vw;
}
.post_ext {
    flex: 0 0 auto;
    margin: 2vh 1vw;
    padding: 1vh .5vw;
}
.post_list > .post_info > span {
    font-size: small;
    background-color: #f4f5f5;
    margin-right: 1vw;
}
.post_list > .post_info > span > a {
    color: #444280;
}
.post_list > .post_title, .post_info, .post_content {
    margin: 1vh 0;
}
.post_list > .post_info, .post_content {
    margin: .5vh 0;
}

/*-------------
	Post detail
--------------*/

#post_detail > .post_info > .post_author {
    font-size: 2vh;
    margin-right: 1.5rem;
}
#post_detail > .post_info a {
    font-size: 2vh;
    text-decoration: none;
}
#post_detail > .post_info > .post_time {
    font-size: 1vh;
}
#post_detail > .post_title {
    font-size: 4vh;
    margin: 2vh 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid #ececec;
}
#post_detail > .post_content {
    margin: 2vh 0;
}

/*-------------
	Post add & update
--------------*/

.post {
    border: 1px solid silver;
    padding: 1rem;
    line-height: 3rem;
}
.post > p {
    padding: .5rem 0;
}
.post > input {
    width: 55.5rem;
}
.post > .post_submit {
    text-align: center;
}

/*-------------
	Login & Register
--------------*/

.login {
    text-align: center;
}
.login > input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed silver;
    outline: none;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.1rem;
    opacity: 0.7;
}
.login > input:focus{
    font-style: italic;
    font-weight: lighter;
}
.login > input::-webkit-input-placeholder{
    color: lightcoral;
    opacity: 0.7;
}

/*-------------
	Normal
--------------*/

button:hover {
    background-color: #005fff;
    opacity: 1;
    animation: to_animation .2s;
}
@keyframes to_animation {
    0% {transform: rotate(-10deg)}
    25% {transform: rotate(10deg)}
    50% {transform: rotate(10deg)}
    100% {transform: rotate(-10deg)}
}

/*-------------
	For WangEditor
--------------*/

/* .post_list */
/* table 样式 */
.post_list table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.post_list table td,
.post_list table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.post_list table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
.post_list blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

/* code 样式 */
.post_list code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.post_list pre code {
  display: block;
}

/* ul ol 样式 */
.post_list ul, ol {
  margin: 10px 0 10px 20px;
}

/* #post */
/* table 样式 */
#post table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#post table td,
#post table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
#post table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
#post blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

/* code 样式 */
#post code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
#post pre code {
  display: block;
}

/* ul ol 样式 */
#post ul, ol {
  margin: 10px 0 10px 20px;
}
