{% extends '../base.html' %}

{% block content %}
{% set demo = data.get('demo') %}
<div class="content_box login">
  <form class="pure-form pure-form-aligned" enctype="multipart/form-data" action="/upload" method="post">
    <fieldset>
      <div class="pure-control-group">
        <label for="file">file</label>
        <input type="file" id="file" class="" name="file">
      </div>
      <label for="document" class="pure-checkbox">
        <input id="document" type="checkbox" name="document" value="true">
        Document
      </label>
      <br>
      <button type="submit" class="pure-button pure-button-primary">upload</button>
    </fieldset>
  </form>
</div>
{% end %}
