<div class="header_box">
  <ul>
    <li><a href="/user" class="header_nav">主页</a></li>
    <li><a href="/posts" class="header_nav">文章</a></li>
    <li>
      <form class="pure-form">
        <input type="search" id="header_search" class="pure-input-rounded" name="search" {% if data %}value="{{ data.get('search', '') }}"{% end %} placeholder="🔍">
      </form>
    </li>
    <li>
      <div class="head_btn">
        <a href="/post">去发文</a>
        <a onclick="do_logout()">注销</a>
      </div>
    </li>
  </ul>
</div>