<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% block head %}
  {% end %}

  {% block title %}
  <title>Tornado-demo</title>
  {% end %}

  <link rel="stylesheet" href="{{ static_url('css/layout.css') }}">
  {% block css %}
  {% end %}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{#  <script src="{{ static_url('js/axios.min.js') }}"></script>#}
  <script src="{{ static_url('js/main.js') }}"></script>
  {% block head_js %}
  {% end %}
</head>
<body>
<header>
  {% include 'module/header.html' %}
</header>

<section class="main">
  <div class="left"></div>
  <div class="content">
    {% block content %}
    {% end %}
  </div>
  <div class="right"></div>
</section>

<footer>
  {% include 'module/footer.html' %}
</footer>
</body>
{% block foot_js %}
{% end %}
</html>