{% extends '../base.html' %}

{% block content %}
{% set posts = data.get('posts', []) %}
<div class="content_box">
  {% for post in posts %}
  <div class="post_box">
    <div class="post_list">
      <p class="post_info">
        <span class="post_author">{{ post.get('author') }}</span>
        <span>{{ post.get('create_time').strftime('%Y-%m-%d') }}</span>
        <span><a href="{{ post.get('original_url') }}" target="_blank">&#x1F517;原文链接</a></span>
      </p>
      <h3 class="post_title">
        <a href="/post?id={{ post.get('id') }}" target="_blank">{{ post.get('title') }}</a>
      </h3>
      <p class="post_content">{% raw post.get('content') %}</p>
    </div>
{#    <div class="post_ext">aboxxsasx</div>#}
  </div>
  <hr>
  {% end %}
</div>
{% end %}
{% block foot_js %}
<script>
    // 滚动到底部刷新
    scroll_to_reload();
    // 搜索关键词高亮
    {% if data and data.get('search') %}keyWordCheck('{{ data.get("search") }}'){% end %};
</script>
{% end %}
