{% extends base.html %}

{% block title %}Index{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('mdl/css/idx.css') }}" />
{% end %}

{% block content %}
{% set bookmarks = data.get('bookmarks') %}
{% set bookmarks_count = len(bookmarks) %}
<div class="mdl-grid portfolio-max-width">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th>Type</th>
            <th>Info</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for idx, bookmark in enumerate(bookmarks) %}
        <tr>
            <td><a href="{{ bookmark.get('url') }}" target="_blank">{{ bookmark.get('name')[:30] }}</a></td>
            <td>{{ bookmark.get('type') }}</td>
            <td>{{ bookmark.get('info') or '-' }}</td>
            <td>{{ bookmark.get('create_time').date() }}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{#{% include 'module/page_view.html' %}#}
{% end %}