{% extends '../base.html' %}

{% block content %}
{% set next = data.get('next') %}
<div class="content_box login">
  <form id="login_box" class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <input type="text" id="account" placeholder="账户" required>
      </div>

      <div class="pure-control-group">
        <input type="password" id="password" name="password" placeholder="密码" required>
      </div>

      <br>
      <div class="pure-control-group">
        <button type="button" class="pure-button pure-button-primary" onclick="do_login('{{ next }}');">登录</button>
        <button type="button" class="pure-button" onclick="to_register()">注册</button>
      </div>
    </fieldset>
  </form>
  <form id="register_box" class="pure-form pure-form-aligned" style="display: none">
    <fieldset>
      <div class="pure-control-group">
        <input type="text" id="register_name" name="register_name" placeholder="账户" required>
      </div>

      <div class="pure-control-group">
    <input type="email" id="register_email" name="register_email" placeholder="邮箱" required>
      </div>

      <div class="pure-control-group">
    <input type="tel" id="register_mobile" name="register_mobile" placeholder="手机号" required>
      </div>

      <div class="pure-control-group">
    <input type="password" id="register_password" name="register_password" placeholder="密码" required>
      </div>

      <div class="pure-control-group">
    <input type="password" id="register_password_confirm" name="register_password_confirm" placeholder="确认密码" required>
      </div>

      <br>
      <div class="pure-control-group">
        <button type="button" class="pure-button" onclick="to_login()">登录</button>
        <button type="button" class="pure-button pure-button-primary" onclick="do_register('{{ next }}');">注册</button>
      </div>
    </fieldset>
  </form>
</div>
{% end %}
