<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Life is short, I use Python">
  <link rel="icon" href="{{ static_url('favicon.ico') }}">

  {% block head %}
  {% end %}

  {% block title %}
  <title>ICE</title>
  {% end %}

{#  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css">#}
  <link rel="stylesheet" href="{{ static_url('css/pure-min.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/layout.css') }}">
  {% block css %}
  {% end %}

{#  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
  <script src="{{ static_url('js/axios.min.js') }}"></script>
  <script src="{{ static_url('js/main.js') }}"></script>
  {% block head_js %}
  {% end %}
</head>
<body>
<header>
  {% include 'module/header.html' %}
</header>

<section class="main">
  <div class="left"></div>
  <div class="content">
    {% block content %}
    {% end %}
  </div>
  <div class="right"></div>
</section>

<footer>
  {% include 'module/footer.html' %}
</footer>
</body>
{% block foot_js %}
{% end %}
</html>