.page-nav > .demo-nav {
  margin: 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
  max-width: 900px;
}
.page-nav > .demo-nav > .demo-nav__button {
  /*color: white;*/
  color: rgba(0,0,0,0.54);
  text-decoration: none;
}
.page-nav > .demo-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.page-nav > .demo-nav > .demo-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.page-nav > .demo-nav > .demo-nav__button:last-child .mdl-button {
  margin-left: 16px;
}